body {
     margin: 0px;
     background-color: darkgray;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
}
#carCanvas {
     background-color: lightgray;
}
#verticalButtons {
     display: flex;
     flex-direction: column;
}
button {
     border: none;
     border-radius: 5px;
     margin: 2px;
     padding: 5px 5px 7px 5px;
     cursor: pointer;
}
button:hover {
     background-color: blue;
}
#networkCanvas {
     background-color: black;
}